.cabal-sandbox/
codex.tags
cabal.sandbox.config
dist/
record/
tmp/debugTree.dot
tmp/wwwroot/debugTree.png
tests/exe/
tests/Prop/t0/MyModule.o
tests/Prop/t0/MyModule.hi
tests/Prop/t1/*.hi
tests/Prop/t1/*.o
tests/Prop/t2/*.hi
tests/Prop/t2/*.o
tests/Prop/t3/*.hi
tests/Prop/t3/*.o
tests/Prop/t3/*/*.hi
tests/Prop/t3/*/*.o
tests/Prop/t4/*.hi
tests/Prop/t4/*.o
tests/Prop/t4/*/*.hi
tests/Prop/t4/*/*.o
examples/afp02Exercises/Compiler__with_properties/*.o
examples/afp02Exercises/Compiler__with_properties/*.hi
examples/ExpressionSimplifier/*.o
examples/ExpressionSimplifier/*.hi
examples/Digraph_not_data_invariant__with_properties/*.o
examples/Digraph_not_data_invariant__with_properties/*.hi
examples/XMonad_changing_focus_duplicates_windows/*.o
examples/XMonad_changing_focus_duplicates_windows/*.hi
examples/XMonad_changing_focus_duplicates_windows/Test/*.o
examples/XMonad_changing_focus_duplicates_windows/Test/*.hi
examples/XMonad_changing_focus_duplicates_windows/XMonad/*.hi
examples/XMonad_changing_focus_duplicates_windows/XMonad/*.o
*.swp
tmp/

.Hoed

# Created by https://www.gitignore.io/api/emacs,haskell

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# saveplace
places

# url cache
url/cache/

# cedet
ede-projects.el

# smex
smex-items

# company-statistics
company-statistics-cache.el

# anaconda-mode
anaconda-mode/

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# End of https://www.gitignore.io/api/emacs,haskell
